{% extends 'game/base.html' %}

{% include 'game/base_mobile.html' %}

{% block title%}Movie Quiz{% endblock %}

{% block content %}

<div class="text-center">
    <h3_mobile>Welcome!</h3_mobile>
    <div>
        <label>Your player number is:</label>
        <input id="game_code" type="text" name="game_code" value={{ player }} size="1" disabled="disabled" />
    </div>
    <br>
    <h3_mobile>The game will start soon...</h3_mobile>
</div>

{% endblock %}

{% block javascripts %}

{% include 'game/base_pusher.html' %}

  <script>
    channel.bind('my-event', function(data) {
      var tag = data["tag"];
      //alert(tag)
      if (tag == 'start') {
        window.location.href = "{{url_for('show_question', game_code=game_code, player=player)}}"
      };
    });
  </script>

{% endblock javascripts %}