<style>
.button_mobile {
  margin:0 auto;
  display: inline-block;
  padding: 5px 15px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: white;
  border: 5px;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button_mobile:hover {background-color: gray;}

.button_mobile:active {
  background-color: #e7e7e7;;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

div {
    margin-bottom: 10px;
  }

label {
    display: inline-block;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    color: white;
  }

labels {
    width: 230px;
    display: inline-block;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    color: white;
  }

h2_mobile{
    font-size: 24px;
    font-weight: 520;
    color: white;
}

h3_mobile{
    font-size: 20px;
    font-weight: 450;
    color: white;
}

</style>

<div class="text-center">
    <br>
    <h2_mobile>T-H-E &nbsp&nbsp M-O-V-I-E &nbsp&nbsp Q-U-I-Z</h2_mobile>
    <br>
</div>