{% extends 'game/base.html' %}

{% include 'game/base_mobile.html' %}

{% block title%}Movie Quiz{% endblock %}

{% block content %}

<style>
    .Center {
        overflow-y: scroll;
        width:90%;
		margin-top: 30px;
		margin-left: auto;
		margin-right: auto;
        height:60%;
        background: lightblue;
        border-radius: 20px;
        border: 2px;
        padding: 5px;
        #white-space: pre-wrap;
        display: inline-block;
        vertical-align:top
    }
</style>

<div class="text-center">
	<div class="Center">
    	{{ messages[0]|safe }}
    </div>
    <br>
    <br>
    <div id="home" class="button_mobile"> {{messages[1]}}</div>
</div>

{% endblock %}

{% block javascripts %}

{% include 'game/base_pusher.html' %}

  <script>
    $(document).ready(function() {
        $( "#home" ).click(function() {
            window.location.href = "{{ url_for( 'game') }}"
        });
    });
  </script>

{% endblock javascripts %}