{% extends 'game/base.html' %}

{% block title%}Movie Quiz{% endblock %}

{% block content %}

<div class="container pt-3">
  <div class="row pt-3">
    <div class="col-12" align="center">
        <h2 class="text-center" style="color:white;">T-H-E &nbsp&nbsp M-O-V-I-E &nbsp&nbsp Q-U-I-Z</h2>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-12" align="center">
        <h1 class="text-center" style="color:white;">&nbsp</h1>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-6" align="center">
        <h3 class="text-center" style="color:white;">Enter a game code:</h3>
    </div>
    <div class="col-6" align="center">
        <input id="game_code" type="text" name="game_code" value="{{ game_code }}"/>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-12" align="center">
        <h1 class="text-center" style="color:white;">&nbsp</h1>
    </div>
  </div>
  <div class="row pt-3">
      <div class="col-6" align="center">
            <!--<a id="join_game" class="button" href="{{ url_for( 'join_validation', game_code=game_code) }}">
                <span>Join Game</span>
            </a>-->
          <a id="join_game" class="button">
                <span>Join Game</span>
            </a>
      </div>
    <div class="col-6" align="center">
        <h1 class="text-center" style="color:white;">&nbsp</h1>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-12" align="center">
        <h1 class="text-center" style="color:white;">&nbsp</h1>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-12" align="center">
        <pre><h5 class="text-left" style="color:white;">              {{ message }}</h5></pre>
    </div>
  </div>
</div>

{% endblock %}

{% block javascripts %}

  <script>
    $(document).ready(function() {
        $( "#join_game" ).click(function() {
          var g = $( "#game_code" ).val()
            if (g <= 0 || g == null || g == '') {
                g = -1;
            }
            //alert(g);
            if (g > 0){
              window.location.href =  "{{ url_for( 'join_validation', game_code=0) }}".replace("0", $( "#game_code" ).val());
            };
        });
    });
  </script>

{% endblock javascripts %}