{% extends 'game/base.html' %}

{% block title%}Movie Quiz{% endblock %}

{% block content %}

<div class="container pt-3">
  <div class="row pt-3">
    <div class="col-12" align="center">
        <h2 class="text-center" style="color:white;">T-H-E &nbsp&nbsp M-O-V-I-E &nbsp&nbsp Q-U-I-Z</h2>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-12" align="center">
        <h1 class="text-center" style="color:white;">&nbsp</h1>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-12" align="center">
        <h2 class="text-center" style="color:white;">... waiting for other answers ...</h2>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-12" align="center">
        <h1 class="text-center" style="color:white;">&nbsp</h1>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-12" align="center">
        <h3 class="text-center" style="color:white;">{{ players_info }}</h3>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-12" align="center">
        <h1 class="text-center" style="color:white;">&nbsp</h1>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-12" align="center">
        <h3 class="text-center" style="color:white;">{{ time_info }}</h3>
    </div>
  </div>
</div>

{% endblock %}

{% block javascripts %}

  <script>
    $(document).ready(function() {
        setInterval(fetchFromServer, 300);
    });

    function fetchFromServer() {
        window.location.href = "{{url_for('wait_for_answers', game_code=game_code, player=player)}}"
    }
  </script>

{% endblock javascripts %}



