{% extends "base_cartisan.html" %}

{% block content %}

<style>
    .Center {
        overflow-y: scroll;
        width:50%;
		margin-left: auto;
		margin-right: auto;
        height:60%;
        background: lightgray;
        border-radius: 40px;
        border: 2px;
        padding: 20px;
        #white-space: pre-wrap;
        display: inline-block;
        vertical-align:top
    }

    table td {
        text-align: left;
    }

	.center-div{
		width: 100%;
		text-align: center;
	}

	.wrapper{
		margin-bottom: 40px;
		display: inline-block;
	}

	.header{
		width: 100%;
		height: 100%;
		mix-width: 480px;
	}

    .ourClasses{
        background: lightgray;
    }
</style>

    <div style="text-align:center">
        <h1>מושבים</h1>

        <form action="" method="post" novalidate>
        <div class="center-div">
            <div class="wrapper">
                {{ form.hidden_tag() }}
                <p><p>
                {{ form.client_id.label }}
                {{ form.client_id(size=2, value=client_id) }}
                <p><p>
                {{ form.hall_id.label }}
                {{ form.hall_id(size=2, value=hall_id) }}
                {{ hall_name }}
                <p><p>
                {{ form.zone_id.label }}
                {{ form.zone_id(size=2, value=zone_id) }}
                {{ zone_name }}
                <p><p>
                {{ form.row.label }}
                {{ form.row(value=row) }}
                <p><p>
                {{ form.seat.label }}
                {{ form.seat(value=seat) }}
                <p><p>
                <p><p>
                {{ form.seat_list() }}<br><br>
                {{ form.search() }}
                {{ form.create() }}
                {{ form.delete() }}
                <br><br>
                {{ form.home() }}
                {{ form.hall() }}
                {{ form.zone() }}
                </p>
                <p></p>
                <div style="color: red;">{{error}}</div>
            </div>

        </div>
		<div class="center-div">
			<div class="Center">
				{% if length > 0 %}
					{{df_chat|safe}}
				{% endif %}
			</div>
		</div>

        </form>
    </div>
    
<script>
function my_confirm(msg) {
    if (
        document.getElementById("client_id").value.length == 0 ||
        document.getElementById("hall_id").value.length == 0 ||
        document.getElementById("zone_id").value.length == 0 ||
        document.getElementById("row").value.length == 0 ||
        document.getElementById("seat").value.length == 0
    )
    {
        return true
    }
    return confirm(msg);
}
</script>    
    
{% endblock %}

