{% extends "base_chat.html" %}

{% block content %}

<style>
    .Center {
        overflow-y: scroll;
        width:600px;
        height:60%;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -250px;
        margin-left: -290px;
        background: lightgray;

        border-radius: 40px;
        border: 2px;
        padding: 20px;
    }

    table td {
        text-align: left;
    }

</style>

<div style="text-align:center">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="wrapper">
            <h1>Weather Chatbot</h1>
            <p><p>
            <br>
            {{error}}
            <p><p>
            {{ form.user_msg.label }}
            {{ form.user_msg }}
            {{ form.run_bot() }}
            {{ form.google() }}
            {{ form.debug() }}
            </p>
        </div>

        <div class="Center">
            {% if length > 0 %}
                {{df_chat|safe}}
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}