{% extends "base.html" %}

{% block content %}
    <div style="text-align:center">
        <form action="/table_result" method="post" novalidate>
            <h1>
                {% if title == 'Show' %}
                    New
                {% endif %}
                Hashi puzzle
            </h1>
            <p>{{error}}</p>
            <p><p>
            <table class="center">
                <style>
                    th, td {padding: 5px;}
                    table.center {
                          margin-left: auto;
                          margin-right: auto;
                          border-spacing: 20px;
                          border: 1px solid black;
                         #border-collapse: collapse;
                         #width: 100%;
  #table-layout: fixed;
  #border-collapse: collapse;
  #border: 3px solid purple;

                        }
                        .circle {
                          width: 25px;
                          height: 25px;
                          line-height: 5px;
                          border-radius: 50%;
                          border: 3px solid #000;
                          font-size: 20px;
                          #color: #fff;
                          text-align: center;
                          #background: #000
                          #padding: 5px 11px;
                          #padding-bottom:; 100%;
                          #display: inline-block;
                        }
                </style>
                <caption>
                    {% for col in range(ncols + 1) %}
                            {% if col == 0 %}
                                <td></td>
                            {% else %}
                                <th style="font-size:25px">{{col - 1}}</th>
                             {% endif %}
                    {% endfor %}
                </caption>
                <tbody>
                    {% for row in range(nrows) %}
                  <tr>
                        {% for col in range(ncols + 1) %}
                            {% if col == 0 %}
                                <td>
                                    <style>
                                        .rowlabel {
                                            font-size: 20px;
                                            text-align:right;
                                            padding: 3px;
                                            #border: 3px solid purple;
                                        }
                                    </style>
                                    <div class="rowlabel"><b>{{row}}</b></div>
                                </td>
                            {% else %}
                                {% set value = "" %}
                                {% if form %}
                                    {% set key = "{}_{}".format(row,col-1) %}
                                    {% set value = form[key] | replace("['", '') | replace("']", '') %}
                                {% endif %}
                                {% if value == ""  %}
                                    <td></td>
                                {% else %}
                                    <td class="circle">{{value}}</td>
                                {% endif %}
                             {% endif %}
                        {% endfor %}
                   {% endfor %}
                  </tr>
                  </tbody>
            </table>
            <p></p>
            <p>
                <input id="save" type = "submit" value = "Solve" name="solve"/>
            </p>
        </form>
    </div>
{% endblock %}
