{% extends "base.html" %}

{% block content %}
    <div style="text-align:center">
        <h1>Enter the Hashi puzzle number to run</h1>
            {% for field, errors in form.errors.items() %}
                <small class="form-text text-muted ">
                    {{ ', '.join(errors) }}
                </small>
            {% endfor %}
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p><p>
            {% for hist in hists %}
                <p><a href=https://www.pythonanywhere.com/user/drbarak/{{hist}}>{{hist}}</a></p>
            {% endfor %}
            <p><p>
            {{ form.solve() }}
            {{ form.home() }}
            </p>
        </form>
    </div>
{% endblock %}
