@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

body {
	overflow: hidden;
}

#projectionScreen {
	overflow:hidden;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	visibility:hidden;
	opacity:0;
}
